Lenguaje de marcas/Tema_5/XSD/Bloque I/06 Expediente académico/notas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="expediente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nota"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:decimal">
                                <xs:attribute name="asignatura" type="xs:string" use="required" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="alumno"
                type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>