Lenguaje de marcas/Tema_5/XSD/Bloque I/08 Historia clínica/paciente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tipoGrupo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A+" />
            <xs:enumeration value="A-" />
            <xs:enumeration value="B+" />
            <xs:enumeration value="B-" />
            <xs:enumeration value="AB+" />
            <xs:enumeration value="AB-" />
            <xs:enumeration value="O+" />
            <xs:enumeration value="O-" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="pacientes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paciente"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre"
                                type="xs:string" />
                            <xs:element name="edad"
                                type="xs:positiveInteger" />
                            <xs:element name="grupo_sanguineo"
                                type="tipoGrupo" />
                            <xs:element name="telefono"
                                type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string"
                            use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>