Lenguaje de marcas/Tema_5/XSD/Bloque I/07 Menú de restaurante/menu.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="plato"
                    minOccurs="2"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre"
                                type="xs:string" />
                            <xs:element name="precio"
                                type="xs:decimal" />
                            <xs:element name="calorias" type="xs:decimal" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>