Lenguaje de marcas/Tema_5/XSD/Bloque I/02 Registro de empleados/empleados.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="empresa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empleado"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre"
                                type="xs:string" />
                            <xs:element name="departamento"
                                type="xs:string" />
                            <xs:element name="salario"
                                type="xs:decimal" />
                            <xs:element name="activo"
                                type="xs:boolean" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>